.recyclage {
  p:first-of-type {
      text-align: center;
  }
}

@media (max-width: $mobile_size) {
    .recyclage {
        p {
            margin-left: 50px;
            margin-right: 50px;
        }
    }
}
