@import "normalize";
@import "typo";
@import "variables";
@import "animations";
@mixin clearfix() {
    &:after,
    &:before {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}
@import "toast";
@import "header";
@import "footer";

section:first-of-type {
    padding: 50px 0;
}
// ----------------------- Slider css------------------------
// @keyframes slidy {
//     0% {
//         left: 0;
//     }
//
//     20% {
//         left: 0;
//     }
//
//     25% {
//         left: -100%;
//     }
//
//     45% {
//         left: -100%;
//     }
//
//     50% {
//         left: -200%;
//     }
//
//     70% {
//         left: -200%;
//     }
//
//     75% {
//         left: -300%;
//     }
//
//     95% {
//         left: -300%;
//     }
//
//     100% {
//         left: -400%;
//     }
// }
//
// div#slider {
//     overflow: hidden;
// }
//
// div#slider figure img {
//     width: 20%;
//     float: left;
// }
//
// div#slider figure {
//     position: relative;
//     width: 500%;
//     margin: 0;
//     left: 0;
//     text-align: left;
//     font-size: 0;
//     animation: 30s slidy infinite;
// }
// ------------- Effet de parallax CSS ---------------

.parallax {
    position: relative;
    padding: 50px 0;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    &.parallax1 {
        background-image: url('../images/lamantin.jpg');
    }

    &.parallax2 {
        background-image: url('../images/orang_outan.jpg');
    }

    .inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(#000, .3);
    }
}
// --------------- Parallax Js -------------------------
.js-parallax-container {
    height: 500px;
    position: relative;
    overflow: hidden;
}

.js-parrallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.js-parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
// --------------------- textes ----------------------
a {
    text-decoration: none;
}

h1 {
    font-family: "Bebas Neue";
    font-size: 50px;
}


.beauval_nature,
.texte_intro {
    padding-bottom: 70px;
    color: $brun;
}

.intro_beauval_nature {
    text-align: center;
    color: $brun;
    height: 350px;

    .logo_intro_bn {
        text-align: center;

        img {
            height: 300px;
        }
    }
}

.texte_intro {
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}
@media (max-width:$mobile_size) {
    section.container.intro_beauval_nature {
        margin-bottom: 300px;
    }
}
//  ----------------------En savoir plus --------------------------
@media (max-width: $mobile_size) {
    .space {
        height: 300px;
    }
}
